/*------------------------------------------------------------------------------
space component
------------------------------------------------------------------------------*/

@import "config.css";

[gui-c-space] {
    position: relative;
}

[gui-c-space]:not(:last-child) {
    margin-bottom: var(--leading-s);
}

[gui-c-space-property] {
    float: left;
    height: var(--leading-s);
}

[gui-c-space-property]:not(:last-child) {
    margin-right: var(--space-property-spacing);
}

[gui-c-space-outcome] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

[gui-c-space-button] { transition-duration: var(--t-faster); }
