/*******************************************************************************
input module
*******************************************************************************/

:root {
    --s-input-verticalMargin: 0.125rem;

    --c-input-txt: var(--c-charcoal);
    --c-input-bg: var(--c-white);
    --c-input-bg-hover: color(var(--c-input-bg) shade(5%));
    --c-input-bg-active: color(var(--c-input-bg) shade(10%));
}

[i-input] {
    display: inline-block;
    vertical-align: top;
    margin: var(--s-input-verticalMargin) 0;
    border: 0;
    border-radius: var(--s-global-br);
    padding: 0;
    height: auto;
    /* we want the input to fit into leading size with breathing space */
    min-height: calc(var(--s-leading) - calc(var(--s-input-verticalMargin) * 2));
    outline: 0;
    cursor: text;
    color: var(--c-input-txt);
    font-weight: 400;
    font-family: inherit;
    /* adjust line-height to adjusted height */
    line-height: calc(var(--s-leading) - var(--s-input-verticalMargin));
    text-align: center;
    text-decoration: none;
}

/* default input state */
[i-input] {
    background-color: var(--c-input-bg);
}

[i-input]:not([disabled]):hover {
    background-color: var(--c-input-bg-hover);
}

[i-input]:not([disabled]):active,
[i-input]:not([disabled]):focus {
    background-color: var(--c-input-bg-active);
}

[i-input~="space"] {
    width: 2rem;
}
