<script type="text/template" id="space-template">
    <div gui-c-section>
        <label for="<%= slug %>-input">
            <%= label %>
        </label>
        <input type="text" id="<%= slug %>-input" js-space-input>
        <button gui-c-button js-space-button>click!</button>
    </div>
</script>
