<script type="text/template" id="space-template">
    <div gui-c-section>
        <strong>
            <%= slug %>:
        </strong>

        <% _.each(properties, function (property) { %>
            <label for="input-<%= slug %>-<%= property.name %>">
                <%= property.shortName %>
            </label>
            <input
                type="number"
                id="input-<%= slug %>-<%= property.name %>"
                js-space-property="<%= property.name %>"
                value="<%= property.value %>"
                min="<%= property.range[0] %>"
                max="<%= property.range[1] %>"
            >
        <% }); %>

        <input type="text" js-space-color value="<%= color %>" readonly>

        <button gui-c-button js-space-button>copy</button>

    </div>
</script>
