<script type="text/template" id="space-template">

    <% _.each(properties, function (property) { %>
        <% if (typeof(property.syntaxBefore) != 'undefined') {
            print('<span gui-c-space-property>' + property.syntaxBefore + '</span>');
        } %>
        <span gui-c-space-property>
            <input
                type="<%= property.inputType %>"
                gui-c-textinput="<%= property.inputType %>"
                id="input-<%= slug %>-<%= property.name %>"
                js-space-property="<%= property.name %>"
                value=""
            >
        </span>
        <% if (typeof(property.syntaxAfter) != 'undefined') {
            print('<span gui-c-space-property>' + property.syntaxAfter + '</span>')
        } %>
    <% }); %>

    <button
        gui-c-space-button
        gui-c-button
        js-space-button
    >copy</button>

    <input
        gui-c-space-outcome
        type="text"
        js-space-color
        value="<%= color %>"
        readonly
    >

</script>
