<script type="text/template" id="test-template">
    <label for="test-input">
        <%= label %>
    </label>
    <input type="text" id="test-input">
    <button id="test-button">click!</button>
</script>
