/*******************************************************************************
appRoot module
*******************************************************************************/

[i-appRoot] {
  display: inline-block;
  vertical-align: top;
}

[i-appRoot-footer] {
  width: 100%;
  margin-top: var(--s-leading);
}
