/* -----------------------------------------------------------------------------
user-action influenced states
----------------------------------------------------------------------------- */

/* links */

a {
    /* custom underlines */
    background-size: var(--line-gr-w) var(--line-gr-w);
    background-image: var(--line-gr);
    background-repeat: repeat-x;
    background-position: 0 100%;

    text-decoration: none;

    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    background-size: calc(var(--line-gr-w) * 2) calc(var(--line-gr-w) * 2);
    color: inherit;
}

a:active {
    color: var(--a-c-amaranth);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:focus,
input:focus {
    outline-color: var(--focus-outline-c);
    outline-style: auto;
    outline-width: var(--focus-outline-w);
}

/* text selection */
::selection {
    background-color: var(--selection-bg-c);
    color: var(--selection-txt-c);
}

/* disabled elements */

[disabled] {
    opacity: var(--disabled-o);
    cursor: default;
    pointer-events: none;
}

/* avoid adding up opacity on nested disabled elements */
[disabled] [disabled] {
    opacity: 1;
}
